[Unit]
Description=Synapse
After=network-online.target thehive.service
Requires=network-online.target thehive.service
BindsTo=thehive.service
Before=synapsed.service
Wants=synapsed.service

[Service]
WorkingDirectory=/opt/synapse

User=synapse
Group=synapse

ExecStart=/usr/bin/env python3 /opt/synapse/app.py

Type=simple

Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
